body {
    background-image: url('../images/Mountains-2-4xUpscaled.jpeg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button {
    width: 10%;
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: bolder;
    background-color: #00000057;
    color: #ffffffbd;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1vh;
  }
  
  #textBox {
    position: relative;
    margin-top: 1vh;
    height: 81vh;
    overflow: hidden;
  }


#output {
    position: absolute;
  }
  
  
.prime {
    color: rgba(255, 255, 255, 0.767);
    display: inline-block;
    margin: 0.4vw;
    padding: 1vw;
    background-color: #00000050;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

a{
    color: inherit;
    text-decoration: none; 
    font-size: 1.5vw;
    font-weight: bolder;
    padding: 1vw 2vh;
    background-color: rgba(0, 0, 0, 0.466);
    border: 1px solid #ccc;
    border-radius: 5px;
}
footer{
    color: rgba(255, 255, 255, 0.808);
    position: fixed;
    bottom: 5%; 
    left: 50%;
    
}